@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "upheavtt";
    src: url("/assets/fonts/upheavtt.ttf") format("truetype");
    font-display: swap;
  }
}

body {
  -webkit-overflow-scrolling: touch;
}

.text-shadow {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}
