@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "upheavtt";
    src: url("/assets/fonts/upheavtt.ttf") format("truetype");
    font-display: swap;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff00c6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9600ff;
}

.text-shadow {
  text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}
