.orderList {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.orderList > .listItem {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.orderList > .listItem:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.listItem .orderList > .listItem {
  margin: 0;
}

.listItem .orderList > .listItem:before {
  content: counters(item, ".") " ";
}
.Link{
  color: #0066ff;
  text-decoration: underline;
}